.hide {
	display: none;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.flex-grow {
	flex-grow: 1;
	flex-basis: 0;
}

.flex-1 {
	flex-basis: 10%;
}

.flex-2 {
	flex-basis: 20%;
}

.flex-quarter {
	flex-basis: 25%;
}

.flex-3 {
	flex-basis: 30%;
}

.flex-third {
	flex-basis: calc(100%/3);
}

.flex-4 {
	flex-basis: 40%;
}

.flex-5 {
	flex-basis: 50%;
}

.flex-6 {
	flex-basis: 60%;
}

.flex-7 {
	flex-basis: 70%;
}

.flex-8 {
	flex-basis: 80%;
}

.flex-9 {
	flex-basis: 90%;
}

.flex-10 {
	flex-basis: 100%;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.justify-end { justify-content: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }

.align-end { align-items: flex-end; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-around { align-items: baseline; }
.align-stretch { align-items: stretch; }

.relative {
	position: relative;
}

.fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-hidden-y {
	overflow-y: hidden;
}

.overflow-hidden-x {
	overflow-x: hidden;
}

.overflow-scroll {
	overflow: scroll;
}

.overflow-scroll-y {
	overflow-y: scroll;
}

.overflow-scroll-x {
	overflow-x: scroll;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
