.fg-black { color: var(--black); }
.fg-near-black { color: var(--near-black); }
.fg-dark-gray { color: var(--dark-gray); }
.fg-mid-gray { color: var(--mid-gray); }
.fg-gray { color: var(--gray); }
.fg-silver { color: var(--silver); }
.fg-light-silver { color: var(--light-silver); }
.fg-moon-gray { color: var(--moon-gray); }
.fg-light-gray { color: var(--light-gray); }
.fg-near-white { color: var(--near-white); }
.fg-white { color: var(--white); }

.fg-transparent { color: var(--transparent); }

.fg-black-90 { color: var(--black-90); }
.fg-black-80 { color: var(--black-80); }
.fg-black-70 { color: var(--black-70); }
.fg-black-60 { color: var(--black-60); }
.fg-black-50 { color: var(--black-50); }
.fg-black-40 { color: var(--black-40); }
.fg-black-30 { color: var(--black-30); }
.fg-black-20 { color: var(--black-20); }
.fg-black-10 { color: var(--black-10); }
.fg-black-05 { color: var(--black-05); }
.fg-black-025 { color: var(--black-025); }
.fg-black-0125 { color: var(--black-0125); }

.fg-white-90 { color: var(--white-90); }
.fg-white-80 { color: var(--white-80); }
.fg-white-70 { color: var(--white-70); }
.fg-white-60 { color: var(--white-60); }
.fg-white-50 { color: var(--white-50); }
.fg-white-40 { color: var(--white-40); }
.fg-white-30 { color: var(--white-30); }
.fg-white-20 { color: var(--white-20); }
.fg-white-10 { color: var(--white-10); }
.fg-white-05 { color: var(--white-05); }
.fg-white-025 { color: var(--white-025); }
.fg-white-0125 { color: var(--white-0125); }

.fg-dark-red { color: var(--dark-red); }
.fg-red { color: var(--red); }
.fg-light-red { color: var(--light-red); }
.fg-orange { color: var(--orange); }
.fg-gold { color: var(--gold); }
.fg-yellow { color: var(--yellow); }
.fg-light-yellow { color: var(--light-yellow); }
.fg-purple { color: var(--purple); }
.fg-light-purple { color: var(--light-purple); }
.fg-dark-pink { color: var(--dark-pink); }
.fg-hot-pink { color: var(--hot-pink); }
.fg-pink { color: var(--pink); }
.fg-light-pink { color: var(--light-pink); }
.fg-dark-green { color: var(--dark-green); }
.fg-green { color: var(--green); }
.fg-light-green { color: var(--light-green); }
.fg-navy { color: var(--navy); }
.fg-dark-blue { color: var(--dark-blue); }
.fg-blue { color: var(--blue); }
.fg-light-blue { color: var(--light-blue); }
.fg-lightest-blue { color: var(--lightest-blue); }
.fg-washed-blue { color: var(--washed-blue); }
.fg-washed-green { color: var(--washed-green); }
.fg-washed-yellow { color: var(--washed-yellow); }
.fg-washed-red { color: var(--washed-red); }