@import './breakpoints.css';

@media (--medium) {
	.m-flex,
	.m-flex-1,
	.m-flex-2,
	.m-flex-3,
	.m-flex-4,
	.m-flex-5,
	.m-flex-6,
	.m-flex-7,
	.m-flex-8,
	.m-flex-9,
	.m-flex-10 {
		display: flex;
		box-sizing: border-box;
		flex: 0 0 auto;
	}
	
	.m-flex {
		flex-grow: 1;
		flex-basis: 0;
	}
	
	.m-flex-1 {
		flex-basis: 10%;
	}
	
	.m-flex-2 {
		flex-basis: 20%;
	}
	
	.m-flex-3 {
		flex-basis: 30%;
	}
	
	.m-flex-4 {
		flex-basis: 40%;
	}
	
	.m-flex-5 {
		flex-basis: 50%;
	}
	
	.m-flex-6 {
		flex-basis: 60%;
	}
	
	.m-flex-7 {
		flex-basis: 70%;
	}
	
	.m-flex-8 {
		flex-basis: 80%;
	}
	
	.m-flex-9 {
		flex-basis: 90%;
	}
	
	.m-flex-10 {
		flex-basis: 100%;
	}
	
	.m-flex-third {
		flex-basis: calc(100%/3);
	}
	
	.m-flex-column {
		flex-direction: column;
	}
	
	.m-flex-row {
		flex-direction: row;
	}
	
	.m-fill {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.m-hide {
		display: none;
	}

	.m-show {
		display: flex;
	}

	.m-justify-end { justify-content: flex-end; }
	.m-justify-start { justify-content: flex-start; }
	.m-justify-center { justify-content: center; }
	.m-justify-around { justify-content: space-around; }
	.m-justify-between { justify-content: space-between; }

	.m-align-end { align-items: flex-end; }
	.m-align-start { align-items: flex-start; }
	.m-align-center { align-items: center; }
	.m-align-around { align-items: baseline; }
	.m-align-stretch { align-items: stretch; }

}