@import './breakpoints.css';
@import './colors.css';

@media (--small) {
	.s-mgn-l0, .s-mgn-0, .s-mgn-h0 { margin-left:   calc(0 * var(--unit)); }
	.s-mgn-r0, .s-mgn-0, .s-mgn-h0 { margin-right:  calc(0 * var(--unit)); }
	.s-mgn-t0, .s-mgn-0, .s-mgn-v0 { margin-top:    calc(0 * var(--unit)); }
	.s-mgn-b0, .s-mgn-0, .s-mgn-v0 { margin-bottom: calc(0 * var(--unit)); }

	.s-mgn-l1, .s-mgn-1, .s-mgn-h1 { margin-left:   calc(1 * var(--unit)); }
	.s-mgn-r1, .s-mgn-1, .s-mgn-h1 { margin-right:  calc(1 * var(--unit)); }
	.s-mgn-t1, .s-mgn-1, .s-mgn-v1 { margin-top:    calc(1 * var(--unit)); }
	.s-mgn-b1, .s-mgn-1, .s-mgn-v1 { margin-bottom: calc(1 * var(--unit)); }
	
	.s-mgn-l2, .s-mgn-2, .s-mgn-h2 { margin-left:   calc(2 * var(--unit)); }
	.s-mgn-r2, .s-mgn-2, .s-mgn-h2 { margin-right:  calc(2 * var(--unit)); }
	.s-mgn-t2, .s-mgn-2, .s-mgn-v2 { margin-top:    calc(2 * var(--unit)); }
	.s-mgn-b2, .s-mgn-2, .s-mgn-v2 { margin-bottom: calc(2 * var(--unit)); }
	
	.s-mgn-l3, .s-mgn-3, .s-mgn-h3 { margin-left:   calc(3 * var(--unit)); }
	.s-mgn-r3, .s-mgn-3, .s-mgn-h3 { margin-right:  calc(3 * var(--unit)); }
	.s-mgn-t3, .s-mgn-3, .s-mgn-v3 { margin-top:    calc(3 * var(--unit)); }
	.s-mgn-b3, .s-mgn-3, .s-mgn-v3 { margin-bottom: calc(3 * var(--unit)); }
	
	.s-mgn-l4, .s-mgn-4, .s-mgn-h4 { margin-left:   calc(4 * var(--unit)); }
	.s-mgn-r4, .s-mgn-4, .s-mgn-h4 { margin-right:  calc(4 * var(--unit)); }
	.s-mgn-t4, .s-mgn-4, .s-mgn-v4 { margin-top:    calc(4 * var(--unit)); }
	.s-mgn-b4, .s-mgn-4, .s-mgn-v4 { margin-bottom: calc(4 * var(--unit)); }
	
	.s-mgn-l5, .s-mgn-5, .s-mgn-h5 { margin-left:   calc(5 * var(--unit)); }
	.s-mgn-r5, .s-mgn-5, .s-mgn-h5 { margin-right:  calc(5 * var(--unit)); }
	.s-mgn-t5, .s-mgn-5, .s-mgn-v5 { margin-top:    calc(5 * var(--unit)); }
	.s-mgn-b5, .s-mgn-5, .s-mgn-v5 { margin-bottom: calc(5 * var(--unit)); }
	
	.s-mgn-l6, .s-mgn-6, .s-mgn-h6 { margin-left:   calc(6 * var(--unit)); }
	.s-mgn-r6, .s-mgn-6, .s-mgn-h6 { margin-right:  calc(6 * var(--unit)); }
	.s-mgn-t6, .s-mgn-6, .s-mgn-v6 { margin-top:    calc(6 * var(--unit)); }
	.s-mgn-b6, .s-mgn-6, .s-mgn-v6 { margin-bottom: calc(6 * var(--unit)); }
	
	.s-mgn-l7, .s-mgn-7, .s-mgn-h7 { margin-left:   calc(7 * var(--unit)); }
	.s-mgn-r7, .s-mgn-7, .s-mgn-h7 { margin-right:  calc(7 * var(--unit)); }
	.s-mgn-t7, .s-mgn-7, .s-mgn-v7 { margin-top:    calc(7 * var(--unit)); }
	.s-mgn-b7, .s-mgn-7, .s-mgn-v7 { margin-bottom: calc(7 * var(--unit)); }
	
	.s-mgn-l8, .s-mgn-8, .s-mgn-h8 { margin-left:   calc(8 * var(--unit)); }
	.s-mgn-r8, .s-mgn-8, .s-mgn-h8 { margin-right:  calc(8 * var(--unit)); }
	.s-mgn-t8, .s-mgn-8, .s-mgn-v8 { margin-top:    calc(8 * var(--unit)); }
	.s-mgn-b8, .s-mgn-8, .s-mgn-v8 { margin-bottom: calc(8 * var(--unit)); }
	
	.s-mgn-l0, .s-mgn-0, .s-mgn-h0 { margin-left:   calc(0 * var(--unit)); }
	.s-mgn-r0, .s-mgn-0, .s-mgn-h0 { margin-right:  calc(0 * var(--unit)); }
	.s-mgn-t0, .s-mgn-0, .s-mgn-v0 { margin-top:    calc(0 * var(--unit)); }
	.s-mgn-b0, .s-mgn-0, .s-mgn-v0 { margin-bottom: calc(0 * var(--unit)); }
	
	.s-pad-l0, .s-pad-0, .s-pad-h0 { padding-left:   calc(0 * var(--unit)); }
	.s-pad-r0, .s-pad-0, .s-pad-h0 { padding-right:  calc(0 * var(--unit)); }
	.s-pad-t0, .s-pad-0, .s-pad-v0 { padding-top:    calc(0 * var(--unit)); }
	.s-pad-b0, .s-pad-0, .s-pad-v0 { padding-bottom: calc(0 * var(--unit)); }
	
	.s-pad-l1, .s-pad-1, .s-pad-h1 { padding-left:   calc(1 * var(--unit)); }
	.s-pad-r1, .s-pad-1, .s-pad-h1 { padding-right:  calc(1 * var(--unit)); }
	.s-pad-t1, .s-pad-1, .s-pad-v1 { padding-top:    calc(1 * var(--unit)); }
	.s-pad-b1, .s-pad-1, .s-pad-v1 { padding-bottom: calc(1 * var(--unit)); }
	
	.s-pad-l2, .s-pad-2, .s-pad-h2 { padding-left:   calc(2 * var(--unit)); }
	.s-pad-r2, .s-pad-2, .s-pad-h2 { padding-right:  calc(2 * var(--unit)); }
	.s-pad-t2, .s-pad-2, .s-pad-v2 { padding-top:    calc(2 * var(--unit)); }
	.s-pad-b2, .s-pad-2, .s-pad-v2 { padding-bottom: calc(2 * var(--unit)); }
	
	.s-pad-l3, .s-pad-3, .s-pad-h3 { padding-left:   calc(3 * var(--unit)); }
	.s-pad-r3, .s-pad-3, .s-pad-h3 { padding-right:  calc(3 * var(--unit)); }
	.s-pad-t3, .s-pad-3, .s-pad-v3 { padding-top:    calc(3 * var(--unit)); }
	.s-pad-b3, .s-pad-3, .s-pad-v3 { padding-bottom: calc(3 * var(--unit)); }
	
	.s-pad-l4, .s-pad-4, .s-pad-h4 { padding-left:   calc(4 * var(--unit)); }
	.s-pad-r4, .s-pad-4, .s-pad-h4 { padding-right:  calc(4 * var(--unit)); }
	.s-pad-t4, .s-pad-4, .s-pad-v4 { padding-top:    calc(4 * var(--unit)); }
	.s-pad-b4, .s-pad-4, .s-pad-v4 { padding-bottom: calc(4 * var(--unit)); }
	
	.s-pad-l5, .s-pad-5, .s-pad-h5 { padding-left:   calc(5 * var(--unit)); }
	.s-pad-r5, .s-pad-5, .s-pad-h5 { padding-right:  calc(5 * var(--unit)); }
	.s-pad-t5, .s-pad-5, .s-pad-v5 { padding-top:    calc(5 * var(--unit)); }
	.s-pad-b5, .s-pad-5, .s-pad-v5 { padding-bottom: calc(5 * var(--unit)); }
	
	.s-pad-l6, .s-pad-6, .s-pad-h6 { padding-left:   calc(6 * var(--unit)); }
	.s-pad-r6, .s-pad-6, .s-pad-h6 { padding-right:  calc(6 * var(--unit)); }
	.s-pad-t6, .s-pad-6, .s-pad-v6 { padding-top:    calc(6 * var(--unit)); }
	.s-pad-b6, .s-pad-6, .s-pad-v6 { padding-bottom: calc(6 * var(--unit)); }
	
	.s-pad-l7, .s-pad-7, .s-pad-h7 { padding-left:   calc(7 * var(--unit)); }
	.s-pad-r7, .s-pad-7, .s-pad-h7 { padding-right:  calc(7 * var(--unit)); }
	.s-pad-t7, .s-pad-7, .s-pad-v7 { padding-top:    calc(7 * var(--unit)); }
	.s-pad-b7, .s-pad-7, .s-pad-v7 { padding-bottom: calc(7 * var(--unit)); }
	
	.s-pad-l8, .s-pad-8, .s-pad-h8 { padding-left:   calc(8 * var(--unit)); }
	.s-pad-r8, .s-pad-8, .s-pad-h8 { padding-right:  calc(8 * var(--unit)); }
	.s-pad-t8, .s-pad-8, .s-pad-v8 { padding-top:    calc(8 * var(--unit)); }
	.s-pad-b8, .s-pad-8, .s-pad-v8 { padding-bottom: calc(8 * var(--unit)); }

	.s-border-l0, .s-border-0, .s-border-h0 { border-left:   0px solid var(--border); }
	.s-border-r0, .s-border-0, .s-border-h0 { border-right:  0px solid var(--border); }
	.s-border-t0, .s-border-0, .s-border-v0 { border-top:    0px solid var(--border); }
	.s-border-b0, .s-border-0, .s-border-v0 { border-bottom: 0px solid var(--border); }

	.s-border-l1, .s-border-1, .s-border-h1 { border-left:   1px solid var(--border); }
	.s-border-r1, .s-border-1, .s-border-h1 { border-right:  1px solid var(--border); }
	.s-border-t1, .s-border-1, .s-border-v1 { border-top:    1px solid var(--border); }
	.s-border-b1, .s-border-1, .s-border-v1 { border-bottom: 1px solid var(--border); }

}