@import './breakpoints.css';

@media (--large) {
	.l-weight-1 { font-weight: 100; }
	.l-weight-2 { font-weight: 200; }
	.l-weight-3 { font-weight: 300; }
	.l-weight-4 { font-weight: 400; }
	.l-weight-5 { font-weight: 500; }
	.l-weight-6 { font-weight: 600; }
	.l-weight-7 { font-weight: 700; }
	.l-weight-8 { font-weight: 800; }
	.l-weight-9 { font-weight: 900; }

	.l-size-1  { font-size: calc(1 * var(--unit));  }
	.l-size-2  { font-size: calc(2 * var(--unit));  }
	.l-size-3  { font-size: calc(3 * var(--unit));  }
	.l-size-3-5 { font-size: calc(3.5 * var(--unit));  }
	.l-size-4  { font-size: calc(4 * var(--unit));  }
	.l-size-5  { font-size: calc(5 * var(--unit));  }
	.l-size-6  { font-size: calc(6 * var(--unit));  }
	.l-size-7  { font-size: calc(7 * var(--unit));  }
	.l-size-8  { font-size: calc(8 * var(--unit));  }
	.l-size-9  { font-size: calc(9 * var(--unit));  }
	.l-size-10 { font-size: calc(10 * var(--unit)); }
	.l-size-11 { font-size: calc(11 * var(--unit)); }
	.l-size-12 { font-size: calc(12 * var(--unit)); }

	.l-line-1 { line-height: calc(1 * var(--unit));  }
	.l-line-2 { line-height: calc(2 * var(--unit));  }
	.l-line-3 { line-height: calc(3 * var(--unit));  }
	.l-line-4 { line-height: calc(4 * var(--unit));  }
	.l-line-5 { line-height: calc(5 * var(--unit));  }
	.l-line-6 { line-height: calc(6 * var(--unit));  }
	.l-line-7 { line-height: calc(7 * var(--unit));  }
	.l-line-8 { line-height: calc(8 * var(--unit));  }

	.l-uppercase {
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	.l-capitalize {
		text-transform: capitalize;
	}

	.l-text-center {
		text-align: center;
	}
}